<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/contato.css">
    <link rel="stylesheet" href="css/commonsContent.css">
    <link rel="stylesheet" href="css/commons.css">
    <title>Meu Site</title>
</head>
<body>

    <nav id="navbar">
        <aside class="navbar-container">
            <div class="container-top">
                <a href="../index.html" class="nav-link" id="pagina-inicial">
                    <i class="bi bi-house"></i>
                </a>
                <a href="sobre.html" class="nav-link" id="sobre">
                    <i class="bi bi-person"></i>
                </a>
                <a href="servicos.html" class="nav-link" id="servicos">
                    <i class="bi bi-gear"></i>
                </a>
                <a href="portifolio.html" class="nav-link" id="portifolio">
                    <i class="bi bi-briefcase"></i>
                </a>
            </div>
            <div class="container-bottom">
                <a href="contato.html" class="nav-link pagina-atual" id="contato">
                    <i class="bi bi-telephone"></i>
                </a>
            </div>
        </aside>
    </nav>

    <main id="global-container">

        <input type="checkbox" id="skip-overlay-btn">
        <label class="title-overlay" for="skip-overlay-btn">
            <h1 class="title">Contato</h1>
        </label>

        <div class="main-title">
            <h1 class="title">Contato</h1>
        </div>

        <form  class="form-contact">
            <div class="top-inputs">
                <div class="input-area">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" placeholder="Digite seu Nome">
                </div>
    
                <div class="input-area">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Digite seu Email" required>
                </div>
            </div>

            <div class="input-area">
                <label for="mensagem">Mensagem</label>
                <textarea name="" id="mensagem" placeholder="Digite sua Mensagem :)" required></textarea>
            </div>
            
            <button class="submit-button">
                Enviar Mensagem
                <i class="bi bi-chevron-right"></i>
            </button>
        </form>
        



    </main>
    
    
</body>
</html>