label.title-overlay{
    background-color: black;
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    animation: fade-overlay 1s 1.5s forwards;
}

    input#skip-overlay-btn {
        display: none;
    }

     input#skip-overlay-btn:checked + label.title-overlay{
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
        z-index: -1;
        animation: none !important;
    }

    label.title-overlay .title{
        max-width: fit-content;
        
        font-size: 5em;
        font-family: var(--titleFont);
        white-space: nowrap;
        
        border-right: 3px solid var(--color1);

        overflow: hidden;        

        animation: 
            write-text 2s steps(35) forwards,
            blink-writer .9s 10,
            pulse 1s ease-in .9s
            ;
    }

div.main-title{
    background: 
        linear-gradient(
            to right,
            transparent 10%, 
            var(--color2) 50%, 
            transparent 90%
        ) 
        var(--bgColor3);
    background-size: 500% 100%;

    min-width: 500px;
    width: fit-content;
    padding: 10px 20px;
    margin: 50px 100px 0px;

    border-left: 10px solid var(--bgColor3);

    animation: shine1 1.7s ease-in forwards 1s;
}

    div.main-title .title{
        max-width: fit-content;
        padding-right: .25em;
        
        font-family: var(--titleFont);
        
        border-right: 3px solid var(--color1);
        animation: blink-writer 1s infinite;
    }

article.big-panel{
    min-height: fit-content;
    padding: 75px 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid var(--bgColor3);

    animation: slide-fade 3s ease-out .5s forwards;
}

    .big-panel .article-title{
        font-size: 1.7em;
        font-family: var(--titleFont);
    }

    .big-panel .article-text{
        font-size: .95em;

        padding: 10px 0;
    }

@keyframes write-text {
    from, 10% {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-writer {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: var(--color1);
    }
}

@keyframes fade-overlay{
    10%, to{
        background-color: transparent;
    }
    70%, to{
        opacity: 0;
        display: none;
        pointer-events: none;
        scale: .7;
    }
    to{
        transform: translate(-20%,-20%);
    }
}