form.form-contact {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}

div.top-inputs{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

    div.input-area {
        display: flex;
        flex-direction: column;
    }

        div.input-area label {
            padding: 10px 3px 5px;
            
            font-size: .9em;

            cursor: text;
        }

        div.input-area textarea {
            min-height: 100px;
        }

        div.input-area input,
        div.input-area textarea {
            background-color: var(--bgColor3);
            padding: 7px 10px;

            border: 1px solid var(--bgColor3);

            resize: vertical;

            transition: all 200ms;
        }

            div.input-area input:focus,
            div.input-area textarea:focus {
                border: 1px solid var(--color2);
                scale: 1.005;
            }

    button.submit-button {
        max-width: 300px;
        margin-top: 25px;
        padding: 7px 25px;

        border: 1px solid currentColor;
        border-radius: 3px;

        color: var(--color2);
        font-size: .85em;
        text-shadow: 
            0 0 5px black;

        transition: all 200ms ease-in;
        cursor: pointer;
    }
        button.submit-button:hover{
            color: var(--color1);
            text-shadow: 0px 0px 2px currentColor;
            
            box-shadow: 
                0 0 10px -3px currentColor,
                inset 0 0 10px -3px currentColor;

            filter: brightness(1);
            scale: 1.01;
        }
        button.submit-button:active{
            color: var(--txtColor1);
            
            transition: none;
            scale: .95;
        }
        button.submit-button i{
            color: currentColor;
        }
    


@media (max-width:550px) {
    div.main-title{
        margin-top: 30px !important;
    }
    form.form-contact {
        margin: 10px 50px;
        display: flex;
        flex-direction: column;
    }

    div.top-inputs{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin-bottom: 10px;
    }

            div.input-area input,
            div.input-area textarea {
                padding: 7px 10px;
                font-size: .85em;
            }

        button.submit-button {
            max-width: 100%;
            font-size: .9em;
        }
        
}