main#global-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header#introduction-header{
    margin: 50px 100px 0;
    max-width: 800px;

    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 100px;
}

/* ---= TÍTULOS =--- */
    section#intro-title{

    }

        #intro-title .intro-name{
            margin-bottom: 10px;

            font-size: 1.3em;
            font-weight: 400;
            font-family: var(--titleFont);
        }

            /* Nome */
            #intro-title .intro-name strong{
                color: var(--color2);
                font-family: var(--titleFont);
            }

        /* FrontEnd Dev */
        #intro-title .intro-career{
            background: 
                linear-gradient(
                    to right,
                    transparent 10%, 
                    var(--color2) 50%, 
                    transparent 90%
                ) 
                var(--bgColor3);
            background-size: 500% 100%;

            max-width: fit-content;
            padding: 3px 30px;

            font-size: 3em;
            font-family: var(--titleFont);
            font-weight: 600;

            animation: shine1 1.5s forwards;
        }

            #intro-title .intro-career strong{
                color: var(--color1);
                font-family: var(--txtFont) !important;
                font-weight: 600;
            }


    
/* ---= CONTEÚDO =--- */
    section#intro-content{
        display: flex;
        gap: 50px;
    }

        /* TEXTOS */
        #intro-content div.intro-texts{
            animation: slide-fade 2s ease-out forwards;
        }
        
            /* LINKS EM TAGS */
            .intro-texts div.external-links{
                margin-top: 15px;
                display: flex;
                gap: 10px;
            }
                .external-links a.ext-link{
                    background: 
                        linear-gradient(
                            to right,
                            transparent 10%, 
                            var(--color2) 50%, 
                            transparent 90%
                        ) 
                        var(--bgColor3);
                    background-size: 500% 100%;
                    background-position: right;

                    padding: 2px 5px;

                    font-size: .8rem;
                    
                    border-left: 4px solid var(--color2);
                    transition: color 250ms;
                    /* animation: shine2 2s forwards; */
                }
                    .external-links a.ext-link:hover{
                        color: white;
                        animation: shine2 1s infinite;
                    }
                    .external-links a.ext-link:active{
                        color: white;
                        background: var(--color2);
                        box-shadow: 0px 0px 10px var(--color2);
                    }
                    .external-links a.ext-link i{
                        color: currentColor;
                        font-size: .9rem;
                    }

            /* PARAGRAFO DA INTRODUÇÃO */
            .intro-texts p.text{
                margin-top: 20px;
                font-size: .9em;
                line-height: 20px;
            }

            /* BOTÃO CALL TO ACTION */
            .intro-texts a.internal-link{
                height: fit-content;
                margin-top: 30px;

                display: block;
            }
                .internal-link button.int-link{
                    padding: 7px 25px;

                    border: 1px solid currentColor;
                    border-radius: 3px;

                    color: var(--color2);
                    font-size: 1em;
                    text-shadow: 
                        0 0 5px black;

                    transition: all 100ms ease-in;
                    cursor: pointer;
                }
                    .internal-link button.int-link:hover{
                        color: var(--color1);
                        text-shadow: 0px 0px 2px currentColor;
                        
                        box-shadow: 
                            0 0 10px -3px currentColor,
                            inset 0 0 10px -3px currentColor;

                        filter: brightness(1);
                        scale: 1.03;
                    }
                    .internal-link button.int-link:active{
                        color: var(--txtColor1);
                        
                        transition: none;
                        scale: .95;
                    }
                    .internal-link button.int-link i{
                        color: currentColor;
                    }



        /* IMAGEM */
        #intro-content div.intro-image{
            width: fit-content;
            height: fit-content;

            grid-column: 2;
            
            border-radius:4px;

            transform: translate(30px, 10px);
            scale: 1.05;

            animation: border 1.5s forwards;
        }
            .intro-image img.img{
                width: 250px;
                height: 250px;

                position: relative;

                border-radius: 5px;
            }


@keyframes border {
    0%{
        box-shadow:
            12px 12px var(--bgColor2);
            opacity: 0%;
    }
    50%{
        box-shadow:
            -9px -9px var(--bgColor1),
            -10px -10px var(--color1),
            8px 8px var(--bgColor3),
            12px 12px var(--bgColor2);
            opacity: 100%;
    }
    100%{
        box-shadow:
            -9px -9px var(--bgColor1),
            -10px -10px var(--color1),
            4px 4px var(--color2),
            8px 8px var(--bgColor3),
            12px 12px var(--bgColor2);
            
        transform: translate(0px, 0px);
        scale: 1;
    }
}

@media (max-width: 950px) {

    .intro-image img.img{
        width: 150px;
        height: 150px;
        position: relative;

        border-radius: 5px;
    }
}

@media (max-width: 850px) {

    header#introduction-header{
        margin: 20px 100px 0;
    }

    /* ---= TÍTULOS =--- */
        section#intro-title{

        }

            #intro-title .intro-name{
                margin-bottom: 10px;
                text-align: center;

                font-size: 1.2em;
            }

            /* FrontEnd Dev */
            #intro-title .intro-career{
                margin: 0 auto;
                font-size: 2.5em;
            }
        
    /* ---= CONTEÚDO =--- */
        section#intro-content{
            display: flex;
            flex-wrap: wrap-reverse;
            gap: 5px;
        }

                /* LINKS EM TAGS */
                .intro-texts div.external-links{
                    margin-top: 0px;
                    justify-content: center;
                    gap: 10px;
                }
                    .external-links a.ext-link{
                        padding: 3px 5px;

                        font-size: 1rem;
                        
                        border-left: 3px solid var(--color2);
                    }

                /* PARAGRAFO DA INTRODUÇÃO */
                .intro-texts p.text{
                    margin-top: 20px;
                    font-size: .9em;
                    text-align: center;
                }

                /* BOTÃO CALL TO ACTION */
                .intro-texts a.internal-link{
                    width: fit-content;
                    margin: 20px auto 0;
                }
                    .internal-link button.int-link{
                        padding: 7px 25px;

                        font-size: .9em;
                    }

            /* IMAGEM */
            #intro-content div.intro-image{
                margin: 20px auto;
            }
                .intro-image img.img{
                    width: 300px;
                    height: 300px;
                }


    @keyframes border {
        0%{
            box-shadow:
                9px 9px var(--bgColor2);
            opacity: 0%;
        }
        50%{
            box-shadow:
                -5px -5px var(--bgColor1),
                -6px -6px var(--color1),
                6px 6px var(--bgColor3),
                9px 9px var(--bgColor2);
            opacity: 100%;
        }
        100%{
            box-shadow:
                -5px -5px var(--bgColor1),
                -6px -6px var(--color1),
                3px 3px var(--color2),
                6px 6px var(--bgColor3),
                9px 9px var(--bgColor2);
                
            transform: translate(0px, 0px);
            scale: 1;
        }
    }
    
}

@media (max-width:600px) {

    header#introduction-header{
        margin: 20px 120px 0;
    }

    /* ---= TÍTULOS =--- */
        section#intro-title{

        }

            #intro-title .intro-name{
                margin-bottom: 2px;
                text-align: start;

                font-size: 1.1em;
            }

            /* FrontEnd Dev */
            #intro-title .intro-career{
                max-width: 100%;
                padding: 3px;

                font-size: 2em;
                text-align: center;
            }
        
    /* ---= CONTEÚDO =--- */

                /* LINKS EM TAGS */
                .intro-texts div.external-links{
                    justify-content: start;
                    gap: 10px;
                }
                    .external-links a.ext-link{
                        padding: 3px 5px;

                        font-size: .85rem;
                        font-weight: 300;
                    }

                /* PARAGRAFO DA INTRODUÇÃO */
                .intro-texts p.text{
                    margin-top: 15px;
                    font-size: .9em;
                    text-align: start;

                    line-height: 17px;
                }

                /* BOTÃO CALL TO ACTION */
                .intro-texts a.internal-link{
                    width: 100%;
                    margin: 15px 0;
                }
                    .internal-link button.int-link{
                        width: 100%;
                        padding: 7px 25px;

                        font-size: .95em;
                    }

            /* IMAGEM */
            #intro-content div.intro-image{
                margin: 20px auto 10px;
            }
                .intro-image img.img{
                    width: 300px;
                    height: 300px;
                }


    @keyframes border {
        0%{
            box-shadow:
                9px 9px var(--bgColor2);
            opacity: 0%;
        }
        50%{
            box-shadow:
                -5px -5px var(--bgColor1),
                -6px -6px var(--color1),
                6px 6px var(--bgColor3),
                9px 9px var(--bgColor2);
            opacity: 100%;
        }
        100%{
            box-shadow:
                -5px -5px var(--bgColor1),
                -6px -6px var(--color1),
                3px 3px var(--color2),
                6px 6px var(--bgColor3),
                9px 9px var(--bgColor2);
                
            transform: translate(0px, 0px);
            scale: 1;
        }
    }
    
}